body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

:root {
  --primary: rgb(68, 163, 211);
  --danger: rgb(197, 69, 30);
  --border-radius: 25px 25px 25px 25px;

  --icon-color: rgb(102, 102, 102);
}

p {
  margin: 0;
  padding: 0;
}
.map {
  width: 100vw;
  height: 90vh;
}

.cross-layer {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  background-color: transparent;
  z-index: 3;
  cursor: crosshair;
}

.controls {
  position: absolute;
  top: 70px;
  left: 50%;
  width: 70vw;
  height: 50px;
  transform: translateX(-40%);
  z-index: 2;
  display: flex;
  align-items: center;
}

.controls-marker-container {
  display: flex;
  flex-direction: column;
  height: 100px;
  position: absolute;
  bottom: 15px;
  left: 10px;
  z-index: 2;
}

#address,
#title-point {
  width: 200px;
  border-radius: 5px;
  border: none;
  font-size: 1em;
  padding: 0.7em 3em;
  outline: none;
  margin-left: 5px;
  background-color: white;
  height: 1.1em;
}

.basic-component {
  width: 30px;
  height: 30px;
  background-color: white;
  padding: 3px;
  /* position: absolute; */

  z-index: 2;
  left: -30px;
  transition: all 0.3s ease-in;
  display: flex;
  justify-content: center;
}

.activate-point-creator {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background-color: white;
  padding: 3px;
  /* position: absolute; */
  border: solid 1px black;
  z-index: 2;
  left: -30px;
  transition: all 0.3s ease-in;
  display: flex;
  justify-content: center;
}

.basic-component.active {
  transform: rotatey(180deg);
  background-color: black;
}

.basic-component:hover {
  cursor: pointer; /* 
  background-color: black;
  transform: rotatey(180deg); */
}

.icon-marker:hover {
  color: rgb(8, 8, 8, 0.8);
}

.control-container {
  position: relative;
}

.icon-conf {
  opacity: 0.5;
  font-size: 1.5em;
  position: absolute;
  top: 10px;
  left: 10px;
}

.icon-marker {
  font-size: 1.5em;
  transition: color 0.3s ease-in;
  color: var(--icon-color);
}

.cursor-marker {
  cursor: crosshair;
}

.btn.btn-save,
.btn.btn-delete {
  padding: 0.3em 0.5em;
  font-size: 0.9em;
  font-weight: 700;
  border: none;
  color: white;
  border-radius: var(--border-radius);
  height: 100%;
  outline: none;
  margin-left: 5px;
  cursor: pointer;
  transition: all 0.2s ease-in;
  box-sizing: border-box;
}

.btn.btn-save:hover,
.btn.btn-delete:hover {
  background-color: transparent;
}

.btn.btn-save:hover {
  border: 2px solid var(--primary);
  color: var(--primary);
}

.btn.btn-delete:hover {
  border: 2px solid var(--danger);
  color: var(--danger);
}

.btn.btn-save {
  background-color: var(--primary);
}

.btn.btn-delete {
  background-color: var(--danger);
}

.modal.modal-modify {
  width: 30%;
}

.img-container {
  display: flex;
  justify-content: center;
}

.img-login {
}
